# CONFIG_ARM64_4K_PAGES is not set
# CONFIG_BACKLIGHT_RPI is not set
# CONFIG_BLK_CGROUP_IOLATENCY is not set
# CONFIG_BRCM_CHAR_DRIVERS is not set
# CONFIG_DMA_BCM2708 is not set
# CONFIG_DRM_PANEL_ILITEK_ILI9806E_SPI is not set
# CONFIG_DRM_PANEL_TPO_Y17P is not set
# CONFIG_DRM_PANEL_WAVESHARE_TOUCHSCREEN is not set
# CONFIG_DRM_PANEL_WAVESHARE_TOUCHSCREEN_V2 is not set
# CONFIG_DRM_PANTHOR is not set
# CONFIG_GPIO_FSM is not set
# CONFIG_GPIO_PWM is not set
# CONFIG_IMA_APPRAISE_BUILD_POLICY is not set
# CONFIG_IMA_APPRAISE_MODSIG is not set
# CONFIG_IMA_BLACKLIST_KEYRING is not set
# CONFIG_IMA_DEFAULT_HASH_SHA1 is not set
# CONFIG_IMA_DEFAULT_HASH_SHA256 is not set
# CONFIG_IMA_DISABLE_HTABLE is not set
# CONFIG_IMA_KEXEC is not set
# CONFIG_IMA_LOAD_X509 is not set
# CONFIG_IMA_SIG_TEMPLATE is not set
# CONFIG_INFINIBAND_USER_ACCESS is not set
# CONFIG_INFINIBAND_USER_MAD is not set
# CONFIG_LEDS_TRIGGER_ACTPWR is not set
# CONFIG_LEDS_TRIGGER_INPUT is not set
# CONFIG_MMC_BCM2835_MMC is not set
# CONFIG_MMC_BCM2835_SDHOST is not set
# CONFIG_NFT_CONNLIMIT is not set
# CONFIG_OF_CONFIGFS is not set
# CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2 is not set
# CONFIG_REGULATOR_WAVESHARE_TOUCHSCREEN is not set
# CONFIG_RPI_AXIPERF is not set
# CONFIG_RPI_POE_POWER is not set
# CONFIG_SERIAL_RPI_FW is not set
# CONFIG_SND_AUDIOINJECTOR_ISOLATED_SOUNDCARD is not set
# CONFIG_SND_AUDIOINJECTOR_OCTO_SOUNDCARD is not set
# CONFIG_SND_AUDIOINJECTOR_PI_SOUNDCARD is not set
# CONFIG_SND_AUDIOSENSE_PI is not set
# CONFIG_SND_BCM2708_SOC_ADAU1977_ADC is not set
# CONFIG_SND_BCM2708_SOC_ALLO_BOSS_DAC is not set
# CONFIG_SND_BCM2708_SOC_ALLO_BOSS2_DAC is not set
# CONFIG_SND_BCM2708_SOC_ALLO_DIGIONE is not set
# CONFIG_SND_BCM2708_SOC_ALLO_KATANA_DAC is not set
# CONFIG_SND_BCM2708_SOC_ALLO_PIANO_DAC is not set
# CONFIG_SND_BCM2708_SOC_ALLO_PIANO_DAC_PLUS is not set
# CONFIG_SND_BCM2708_SOC_CHIPDIP_DAC is not set
# CONFIG_SND_BCM2708_SOC_DIONAUDIO_LOCO is not set
# CONFIG_SND_BCM2708_SOC_DIONAUDIO_LOCO_V2 is not set
# CONFIG_SND_BCM2708_SOC_FE_PI_AUDIO is not set
# CONFIG_SND_BCM2708_SOC_GOOGLEVOICEHAT_SOUNDCARD is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_ADC is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_ADC8X is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_AMP is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DAC is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUS is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSADC is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSADCPRO is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSDSP is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSHD is not set
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DIGI is not set
# CONFIG_SND_BCM2708_SOC_I_SABRE_Q2M is not set
# CONFIG_SND_BCM2708_SOC_IQAUDIO_CODEC is not set
# CONFIG_SND_BCM2708_SOC_IQAUDIO_DAC is not set
# CONFIG_SND_BCM2708_SOC_IQAUDIO_DIGI is not set
# CONFIG_SND_BCM2708_SOC_JUSTBOOM_BOTH is not set
# CONFIG_SND_BCM2708_SOC_JUSTBOOM_DAC is not set
# CONFIG_SND_BCM2708_SOC_JUSTBOOM_DIGI is not set
# CONFIG_SND_BCM2708_SOC_PIFI_40 is not set
# CONFIG_SND_BCM2708_SOC_RPI_CIRRUS is not set
# CONFIG_SND_BCM2708_SOC_RPI_DAC is not set
# CONFIG_SND_BCM2708_SOC_RPI_PROTO is not set
# CONFIG_SND_DACBERRY400 is not set
# CONFIG_SND_DIGIDAC1_SOUNDCARD is not set
# CONFIG_SND_PISOUND is not set
# CONFIG_SND_RP1_AUDIO_OUT is not set
# CONFIG_SND_RPI_SIMPLE_SOUNDCARD is not set
# CONFIG_SND_RPI_WM8804_SOUNDCARD is not set
# CONFIG_SND_SOC_AD193X_I2C is not set
# CONFIG_SND_SOC_AD193X_SPI is not set
# CONFIG_SND_SOC_I_SABRE_CODEC is not set
# CONFIG_SND_SOC_MA120X0P is not set
# CONFIG_USB_DWCOTG is not set
# CONFIG_VIDEO_AD5398 is not set
# CONFIG_VIDEO_BCM2835_UNICAM_LEGACY is not set
# CONFIG_VIDEO_BU64754 is not set
# CONFIG_VIDEO_IRS1125 is not set
# CONFIG_VIDEO_RP1_CFE is not set
# CONFIG_VIDEO_RPI_HEVC_DEC is not set
# CONFIG_ZSWAP is not set
CONFIG_8139TOO=y
CONFIG_AQTION=y
CONFIG_ARM64_16K_PAGES=y
CONFIG_BCACHE=y
CONFIG_BCM2712_IOMMU=y
CONFIG_BCM2712_MIP=y
CONFIG_BCM2835_SMI_DEV=m
CONFIG_BCM2835_SMI=m
CONFIG_BCM2835_THERMAL=y
CONFIG_BLK_DEV_NVME=y
CONFIG_BNX2=y
CONFIG_BNX2X=y
CONFIG_BNXT=y
CONFIG_CAVIUM_PTP=y
CONFIG_COMMON_CLK_RP1_SDIO=y
CONFIG_COMMON_CLK_RP1=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_CRYPTO_ZSTD=m
CONFIG_DP83867_PHY=y
CONFIG_DWMAC_DWC_QOS_ETH=y
CONFIG_DWMAC_GENERIC=y
CONFIG_DWMAC_IMX8=y
CONFIG_DWMAC_IPQ806X=y
CONFIG_DWMAC_MESON=y
CONFIG_DWMAC_QCOM_ETHQOS=y
CONFIG_DWMAC_ROCKCHIP=y
CONFIG_DWMAC_SUN8I=y
CONFIG_DWMAC_SUNXI=y
CONFIG_DWMAC_TEGRA=y
CONFIG_E100=y
CONFIG_E1000=y
CONFIG_E1000E=y
CONFIG_ENIC=y
CONFIG_FB_BCM2708=y
CONFIG_FB_RPISENSE=y
CONFIG_FIRMWARE_RP1=y
CONFIG_GPIO_BCM_VIRT=y
CONFIG_HAVE_IMA_KEXEC=y
CONFIG_HID_A4TECH=y
CONFIG_HID_APPLE=y
CONFIG_HID_BELKIN=y
CONFIG_HID_CHERRY=y
CONFIG_HID_CHICONY=y
CONFIG_HID_CYPRESS=y
CONFIG_HID_EZKEY=y
CONFIG_HID_GYRATION=y
CONFIG_HID_ITE=y
CONFIG_HID_KENSINGTON=y
CONFIG_HID_LOGITECH=y
CONFIG_HID_MICROSOFT=y
CONFIG_HID_MONTEREY=y
CONFIG_HID_PANTHERLORD=y
CONFIG_HID_PETALYNX=y
CONFIG_HID_SAMSUNG=y
CONFIG_HID_SUNPLUS=y
CONFIG_HID_TOPSEED=y
CONFIG_HP_ILO=y
CONFIG_I2C_ALGOBIT=y
CONFIG_I2C_BCM2708=y
CONFIG_I2C_I801=y
CONFIG_I2C_MUX=y
CONFIG_I40E=y
CONFIG_I40EVF=y
CONFIG_IAVF=y
CONFIG_ICE=y
CONFIG_IGB=y
CONFIG_IGBVF=y
CONFIG_IGC=y
CONFIG_IMA_APPRAISE_BOOTPARAM=y
CONFIG_IMA_APPRAISE=y
CONFIG_IMA_ARCH_POLICY=y
CONFIG_IMA_DEFAULT_HASH_SHA512=y
CONFIG_IMA_DEFAULT_HASH="sha512"
CONFIG_IMA_DEFAULT_TEMPLATE="ima-ng"
CONFIG_IMA_LSM_RULES=y
CONFIG_IMA_MEASURE_ASYMMETRIC_KEYS=y
CONFIG_IMA_MEASURE_PCR_IDX=10
CONFIG_IMA_NG_TEMPLATE=y
CONFIG_IMA_QUEUE_EARLY_BOOT_KEYS=y
CONFIG_IMA_READ_POLICY=y
CONFIG_IMA_SECURE_AND_OR_TRUSTED_BOOT=y
CONFIG_IMA_WRITE_POLICY=y
CONFIG_IMA=y
CONFIG_IXGBE=y
CONFIG_IXGBEVF=y
CONFIG_LIBETH=y
CONFIG_LIBIE=y
CONFIG_MBOX_RP1=y
CONFIG_MDIO=y
CONFIG_MEGARAID_SAS=y
CONFIG_MFD_RASPBERRYPI_POE_HAT=y
CONFIG_MFD_RP1=y
CONFIG_MMC_SDHCI_ACPI=y
CONFIG_MMC_SDHCI_BRCMSTB=y
CONFIG_MMC_SDHCI_CADENCE=y
CONFIG_MMC_SDHCI_F_SDH30=y
CONFIG_MMC_SDHCI_IPROC=y
CONFIG_MMC_SDHCI_MSM=y
CONFIG_MMC_SDHCI_OF_ARASAN=y
CONFIG_MMC_SDHCI_OF_DWCMSHC=y
CONFIG_MMC_SDHCI_OF_ESDHC=y
CONFIG_MMC_SDHCI_PCI=y
CONFIG_MMC_SDHCI_PLTFM=y
CONFIG_MMC_SDHCI_TEGRA=y
CONFIG_MMC_SDHCI_XENON=y
CONFIG_NETWORK_PHY_TIMESTAMPING=y
CONFIG_NVMEM_RASPBERRYPI_OTP=y
CONFIG_PAHOLE_VERSION=129
CONFIG_PATA_AMD=y
CONFIG_PATA_MARVELL=y
CONFIG_PATA_OLDPIIX=y
CONFIG_PATA_SCH=y
CONFIG_PCS_XPCS=y
CONFIG_PINCTRL_BCM2712=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_PINCTRL_RP1=y
CONFIG_PWM_BRCMSTB=y
CONFIG_PWM_GPIO=y
CONFIG_PWM_PIO_RP1=y
CONFIG_PWM_RP1=y
CONFIG_QED=y
CONFIG_QEDE=y
CONFIG_QLCNIC=y
CONFIG_R8169=y
CONFIG_RASPBERRYPI_GPIOMEM=y
CONFIG_RP1_PIO=y
CONFIG_RTC_DRV_RPI=y
CONFIG_SATA_AHCI=y
CONFIG_SCSI_HPSA=y
CONFIG_SCSI_MPT3SAS=y
CONFIG_SCSI_SMARTPQI=y
CONFIG_SKY2=y
CONFIG_SPI_GPIO=y
CONFIG_SPI_RP2040_GPIO_BRIDGE=y
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PCI=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_TIGON3=y
CONFIG_UBSAN_SIGNED_WRAP=y
CONFIG_USB_RTL8152=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=y
CONFIG_VIRTIO_PCI_LIB=y
CONFIG_VIRTIO_PCI=y
CONFIG_VMXNET3=y
CONFIG_WS2812_PIO_RP1=y