modules:
  remove:
    # Modules that don't exist in kernel 6.18.4
    - kernel/drivers/gpu/drm/drm_gpuvm.ko
    - kernel/drivers/irqchip/irq-bcm2712-mip.ko
    - kernel/drivers/mmc/host/sdhci-uhs2.ko
    - kernel/drivers/net/ethernet/intel/idpf/idpf.ko
    - kernel/drivers/net/ethernet/intel/libeth/libeth_xdp.ko
    - kernel/drivers/net/ethernet/intel/libie/libie_adminq.ko
    - kernel/drivers/net/ethernet/intel/libie/libie_fwlog.ko
    - kernel/drivers/gpu/drm/display/drm_dp_aux_bus.ko
    # Crypto modules being reorganized
    - kernel/crypto/async_tx/async_xor.ko
    - kernel/crypto/xor.ko
    # ACPI/Video (x86-specific)
    - kernel/drivers/acpi/video.ko
    # ATA/PATA drivers (not needed on RPi)
    - kernel/drivers/ata/ahci.ko
    - kernel/drivers/ata/pata_amd.ko
    - kernel/drivers/ata/pata_marvell.ko
    - kernel/drivers/ata/pata_oldpiix.ko
    - kernel/drivers/ata/pata_sch.ko
    # Block devices
    - kernel/drivers/block/nbd.ko
    - kernel/drivers/block/ublk_drv.ko
    # GPU DRM helpers (will be re-added in correct order)
    - kernel/drivers/gpu/drm/drm_buddy.ko
    - kernel/drivers/gpu/drm/drm_exec.ko
    - kernel/drivers/gpu/drm/drm_suballoc_helper.ko
    - kernel/drivers/gpu/drm/drm_vram_helper.ko
    - kernel/drivers/gpu/drm/hisilicon/hibmc/hibmc-drm.ko
    - kernel/drivers/gpu/drm/ttm/ttm.ko
    # HID device drivers (brand-specific keyboards/mice)
    - kernel/drivers/hid/hid-a4tech.ko
    - kernel/drivers/hid/hid-apple.ko
    - kernel/drivers/hid/hid-belkin.ko
    - kernel/drivers/hid/hid-cherry.ko
    - kernel/drivers/hid/hid-chicony.ko
    - kernel/drivers/hid/hid-cypress.ko
    - kernel/drivers/hid/hid-ezkey.ko
    - kernel/drivers/hid/hid-gyration.ko
    - kernel/drivers/hid/hid-ite.ko
    - kernel/drivers/hid/hid-kensington.ko
    - kernel/drivers/hid/hid-lg-g15.ko
    - kernel/drivers/hid/hid-logitech.ko
    - kernel/drivers/hid/hid-microsoft.ko
    - kernel/drivers/hid/hid-monterey.ko
    - kernel/drivers/hid/hid-petalynx.ko
    - kernel/drivers/hid/hid-pl.ko
    - kernel/drivers/hid/hid-samsung.ko
    - kernel/drivers/hid/hid-sunplus.ko
    - kernel/drivers/hid/hid-topseed.ko
    # x86 hardware monitoring
    - kernel/drivers/hwmon/i5k_amb.ko
    # I2C drivers (x86-specific)
    - kernel/drivers/i2c/algos/i2c-algo-bit.ko
    - kernel/drivers/i2c/busses/i2c-i801.ko
    - kernel/drivers/i2c/i2c-mux.ko
    # InfiniBand (will be re-added)
    - kernel/drivers/infiniband/core/ib_umad.ko
    - kernel/drivers/infiniband/core/ib_uverbs.ko
    - kernel/drivers/infiniband/core/rdma_ucm.ko
    - kernel/drivers/infiniband/hw/hns/hns-roce-hw-v2.ko
    - kernel/drivers/infiniband/hw/irdma/irdma.ko
    - kernel/drivers/infiniband/hw/mlx4/mlx4_ib.ko
    - kernel/drivers/infiniband/hw/mlx5/mlx5_ib.ko
    - kernel/drivers/infiniband/sw/rxe/rdma_rxe.ko
    # IRQ/Mailbox (will be re-added)
    - kernel/drivers/irqchip/irq-imx-mu-msi.ko
    - kernel/drivers/mailbox/bcm-flexrm-mailbox.ko
    # MD/Device mapper (will be re-added in correct order)
    - kernel/drivers/md/bcache/bcache.ko
    - kernel/drivers/md/dm-bio-prison.ko
    - kernel/drivers/md/dm-cache-smq.ko
    - kernel/drivers/md/dm-cache.ko
    - kernel/drivers/md/dm-multipath.ko
    - kernel/drivers/md/dm-raid.ko
    - kernel/drivers/md/dm-round-robin.ko
    - kernel/drivers/md/dm-thin-pool.ko
    - kernel/drivers/md/persistent-data/dm-persistent-data.ko
    - kernel/drivers/md/raid456.ko
    # Misc x86 hardware
    - kernel/drivers/misc/hpilo.ko
    # MMC/SD card readers (server-grade)
    - kernel/drivers/mmc/host/sdhci_f_sdh30.ko
    - kernel/drivers/mmc/host/sdhci-acpi.ko
    - kernel/drivers/mmc/host/sdhci-brcmstb.ko
    - kernel/drivers/mmc/host/sdhci-cadence.ko
    - kernel/drivers/mmc/host/sdhci-iproc.ko
    - kernel/drivers/mmc/host/sdhci-msm.ko
    - kernel/drivers/mmc/host/sdhci-of-arasan.ko
    - kernel/drivers/mmc/host/sdhci-of-dwcmshc.ko
    - kernel/drivers/mmc/host/sdhci-of-esdhc.ko
    - kernel/drivers/mmc/host/sdhci-pci.ko
    - kernel/drivers/mmc/host/sdhci-pltfm.ko
    - kernel/drivers/mmc/host/sdhci-tegra.ko
    - kernel/drivers/mmc/host/sdhci-xenon-driver.ko
    # Network adapters (will selectively re-add)
    - kernel/drivers/net/ethernet/aquantia/atlantic/atlantic.ko
    - kernel/drivers/net/ethernet/broadcom/bnx2.ko
    - kernel/drivers/net/ethernet/broadcom/bnx2x/bnx2x.ko
    - kernel/drivers/net/ethernet/broadcom/bnxt/bnxt_en.ko
    - kernel/drivers/net/ethernet/broadcom/tg3.ko
    - kernel/drivers/net/ethernet/cavium/common/cavium_ptp.ko
    - kernel/drivers/net/ethernet/cisco/enic/enic.ko
    - kernel/drivers/net/ethernet/hisilicon/hip04_eth.ko
    - kernel/drivers/net/ethernet/hisilicon/hix5hd2_gmac.ko
    - kernel/drivers/net/ethernet/hisilicon/hns_mdio.ko
    - kernel/drivers/net/ethernet/hisilicon/hns3/hclge-common.ko
    - kernel/drivers/net/ethernet/hisilicon/hns3/hns3.ko
    # Intel NICs (server hardware)
    - kernel/drivers/net/ethernet/intel/e100.ko
    - kernel/drivers/net/ethernet/intel/e1000/e1000.ko
    - kernel/drivers/net/ethernet/intel/e1000e/e1000e.ko
    - kernel/drivers/net/ethernet/intel/i40e/i40e.ko
    - kernel/drivers/net/ethernet/intel/iavf/iavf.ko
    - kernel/drivers/net/ethernet/intel/ice/ice.ko
    - kernel/drivers/net/ethernet/intel/igb/igb.ko
    - kernel/drivers/net/ethernet/intel/igbvf/igbvf.ko
    - kernel/drivers/net/ethernet/intel/igc/igc.ko
    - kernel/drivers/net/ethernet/intel/ixgbe/ixgbe.ko
    - kernel/drivers/net/ethernet/intel/ixgbevf/ixgbevf.ko
    - kernel/drivers/net/ethernet/intel/libeth/libeth.ko
    - kernel/drivers/net/ethernet/intel/libie/libie.ko
    # Marvell/Mellanox (will re-add Mellanox)
    - kernel/drivers/net/ethernet/marvell/sky2.ko
    - kernel/drivers/net/ethernet/mellanox/mlx4/mlx4_core.ko
    - kernel/drivers/net/ethernet/mellanox/mlx4/mlx4_en.ko
    - kernel/drivers/net/ethernet/mellanox/mlx5/core/mlx5_core.ko
    - kernel/drivers/net/ethernet/mellanox/mlxfw/mlxfw.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_core.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_i2c.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_minimal.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_pci.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_spectrum.ko
    # QLogic/Realtek
    - kernel/drivers/net/ethernet/qlogic/qed/qed.ko
    - kernel/drivers/net/ethernet/qlogic/qede/qede.ko
    - kernel/drivers/net/ethernet/qlogic/qlcnic/qlcnic.ko
    - kernel/drivers/net/ethernet/realtek/8139too.ko
    - kernel/drivers/net/ethernet/realtek/r8169.ko
    # SFC (will re-add)
    - kernel/drivers/net/ethernet/sfc/sfc.ko
    - kernel/drivers/net/ethernet/sfc/siena/sfc-siena.ko
    # STMicro STMMAC (embedded boards)
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-dwc-qos-eth.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-generic.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-imx.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-ipq806x.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-meson.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-meson8b.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-qcom-ethqos.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-rk.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-sun8i.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-sunxi.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/dwmac-tegra.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/stmmac-pci.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/stmmac-platform.ko
    - kernel/drivers/net/ethernet/stmicro/stmmac/stmmac.ko
    # Network PHY/MDIO
    - kernel/drivers/net/mdio.ko
    - kernel/drivers/net/pcs/pcs_xpcs.ko
    - kernel/drivers/net/phy/dp83867.ko
    # USB Ethernet (will re-add)
    - kernel/drivers/net/usb/r8152.ko
    # VMware
    - kernel/drivers/net/vmxnet3/vmxnet3.ko
    # NVMe (will re-add)
    - kernel/drivers/nvme/common/nvme-auth.ko
    - kernel/drivers/nvme/host/nvme-rdma.ko
    - kernel/drivers/nvme/host/nvme.ko
    - kernel/drivers/nvme/target/nvme-loop.ko
    - kernel/drivers/nvme/target/nvmet-fc.ko
    - kernel/drivers/nvme/target/nvmet-rdma.ko
    - kernel/drivers/nvme/target/nvmet-tcp.ko
    - kernel/drivers/nvme/target/nvmet.ko
    # Performance monitoring (HiSilicon)
    - kernel/drivers/perf/hisilicon/hisi_pcie_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_cpa_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_ddrc_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_hha_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_l3c_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_pa_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_sllc_pmu.ko
    - kernel/drivers/perf/hisilicon/hisi_uncore_uc_pmu.ko
    - kernel/drivers/perf/hisilicon/hns3_pmu.ko
    # SCSI (will selectively re-add)
    - kernel/drivers/scsi/hisi_sas/hisi_sas_main.ko
    - kernel/drivers/scsi/hisi_sas/hisi_sas_v2_hw.ko
    - kernel/drivers/scsi/hpsa.ko
    - kernel/drivers/scsi/lpfc/lpfc.ko
    - kernel/drivers/scsi/megaraid/megaraid_sas.ko
    - kernel/drivers/scsi/mpi3mr/mpi3mr.ko
    - kernel/drivers/scsi/mpt3sas/mpt3sas.ko
    - kernel/drivers/scsi/qedf/qedf.ko
    - kernel/drivers/scsi/qla2xxx/qla2xxx.ko
    - kernel/drivers/scsi/smartpqi/smartpqi.ko
    # UIO (will re-add)
    - kernel/drivers/uio/uio_pci_generic.ko
    - kernel/drivers/uio/uio.ko
    # USB Serial (generic ones)
    - kernel/drivers/usb/serial/ch341.ko
    - kernel/drivers/usb/serial/cp210x.ko
    - kernel/drivers/usb/serial/ftdi_sio.ko
    - kernel/drivers/usb/serial/pl2303.ko
    # VFIO (will re-add)
    - kernel/drivers/vfio/pci/vfio-pci-core.ko
    - kernel/drivers/vfio/vfio_iommu_type1.ko
    # VirtIO (virtualization)
    - kernel/drivers/virtio/virtio_balloon.ko
    - kernel/drivers/virtio/virtio_input.ko
    - kernel/drivers/virtio/virtio_mmio.ko
    - kernel/drivers/virtio/virtio_pci_legacy_dev.ko
    - kernel/drivers/virtio/virtio_pci_modern_dev.ko
    - kernel/drivers/virtio/virtio_pci.ko
    # Kernel libraries (will re-add)
    - kernel/lib/raid6/raid6_pq.ko
    # Network protocols (will re-add)
    - kernel/net/ipv4/ip_gre.ko
    - kernel/net/openvswitch/vport-gre.ko
    - kernel/net/tls/tls.ko
    # Module metadata files (will re-add in correct format)
    - modules.builtin.modinfo
    - modules.order
  add:
    # Crypto modules
    - kernel/crypto/async_tx/async_xor.ko
    - kernel/crypto/blake2b_generic.ko
    - kernel/crypto/xor.ko
    - kernel/crypto/xxhash_generic.ko
    - kernel/crypto/zstd.ko
    # Network core
    - kernel/net/ipv4/ip_gre.ko
    - kernel/net/tls/tls.ko
    - kernel/net/openvswitch/vport-gre.ko
    # InfiniBand
    - kernel/drivers/infiniband/sw/rxe/rdma_rxe.ko
    - kernel/drivers/infiniband/hw/mlx4/mlx4_ib.ko
    - kernel/drivers/infiniband/hw/mlx5/mlx5_ib.ko
    - kernel/drivers/infiniband/hw/hns/hns-roce-hw-v2.ko
    # Raspberry Pi 5 specific
    - kernel/drivers/misc/bcm2835_smi.ko
    - kernel/drivers/dma/bcm-sba-raid.ko
    # ACPI/Video (reorganized)
    - kernel/drivers/acpi/video.ko
    # GPU - Raspberry Pi 5
    - kernel/drivers/gpu/drm/vc4/vc4.ko
    - kernel/drivers/gpu/drm/v3d/v3d.ko
    - kernel/drivers/gpu/drm/panfrost/panfrost.ko
    # GPU - DRM helpers (reorganized)
    - kernel/drivers/gpu/drm/drm_ttm_helper.ko
    - kernel/drivers/gpu/drm/ttm/ttm.ko
    - kernel/drivers/gpu/drm/drm_suballoc_helper.ko
    - kernel/drivers/gpu/drm/drm_buddy.ko
    - kernel/drivers/gpu/drm/drm_vram_helper.ko
    - kernel/drivers/gpu/drm/hisilicon/hibmc/hibmc-drm.ko
    - kernel/drivers/gpu/drm/drm_exec.ko
    # GPU - AMD
    - kernel/drivers/gpu/drm/amd/amdxcp/amdxcp.ko
    - kernel/drivers/gpu/drm/amd/amdgpu/amdgpu.ko
    # NVMe
    - kernel/drivers/nvme/host/nvme-rdma.ko
    - kernel/drivers/nvme/target/nvme-loop.ko
    - kernel/drivers/nvme/target/nvmet-fc.ko
    - kernel/drivers/nvme/target/nvmet.ko
    - kernel/drivers/nvme/target/nvmet-tcp.ko
    - kernel/drivers/nvme/target/nvmet-rdma.ko
    - kernel/drivers/nvme/common/nvme-auth.ko
    # Network - MDIO/Thunderbolt
    - kernel/drivers/net/mdio/mdio-mux-meson-gxl.ko
    - kernel/drivers/net/thunderbolt/thunderbolt_net.ko
    # Network - Chelsio
    - kernel/drivers/net/ethernet/chelsio/cxgb4/cxgb4.ko
    - kernel/drivers/net/ethernet/chelsio/cxgb3/cxgb3.ko
    - kernel/drivers/net/ethernet/chelsio/inline_crypto/ch_ipsec/ch_ipsec.ko
    - kernel/drivers/net/ethernet/chelsio/cxgb/cxgb.ko
    - kernel/drivers/net/ethernet/chelsio/cxgb4vf/cxgb4vf.ko
    # Network - HiSilicon (reorganized)
    - kernel/drivers/net/ethernet/hisilicon/hip04_eth.ko
    - kernel/drivers/net/ethernet/hisilicon/hix5hd2_gmac.ko
    - kernel/drivers/net/ethernet/hisilicon/hns3/hclge-common.ko
    - kernel/drivers/net/ethernet/hisilicon/hns3/hns3.ko
    - kernel/drivers/net/ethernet/hisilicon/hns_mdio.ko
    # Network - Mellanox (reorganized)
    - kernel/drivers/net/ethernet/mellanox/mlx4/mlx4_core.ko
    - kernel/drivers/net/ethernet/mellanox/mlx4/mlx4_en.ko
    - kernel/drivers/net/ethernet/mellanox/mlx5/core/mlx5_core.ko
    - kernel/drivers/net/ethernet/mellanox/mlxfw/mlxfw.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_core.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_i2c.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_minimal.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_pci.ko
    - kernel/drivers/net/ethernet/mellanox/mlxsw/mlxsw_spectrum.ko
    # Network - SFC
    - kernel/drivers/net/ethernet/sfc/sfc.ko
    - kernel/drivers/net/ethernet/sfc/siena/sfc-siena.ko
    # Network - PHY
    - kernel/drivers/net/phy/ax88796b.ko
    # Network - USB Ethernet adapters (comprehensive set)
    - kernel/drivers/net/usb/sr9800.ko
    - kernel/drivers/net/usb/rndis_host.ko
    - kernel/drivers/net/usb/cdc_mbim.ko
    - kernel/drivers/net/usb/zaurus.ko
    - kernel/drivers/net/usb/kalmia.ko
    - kernel/drivers/net/usb/usbnet.ko
    - kernel/drivers/net/usb/dm9601.ko
    # Note: Raspberry Pi-specific drivers are built-in (CONFIG=y) for RPi-only kernel
